<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Информация о пользователе</title>
    {% extends "base.html" %}
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'show_info.css' %}">
</head>
<body style="background-color: #009579;">
{% block content %}
<div class="container bootstrap snippets bootdey" style="margin-left: 300px;margin-top: 60px;">
    <div class="col-md-8">
        <div class="panel panel-white profile-widget panel-shadow">
            <div class="row">
                <div class="col-sm-12" >
                    <div class="details" >
                        <div><br><h4 style="background: rgba(41,203,119,0.7)">Статистика по продажам: </h4></div>
                    </div>
                    <table class="table table-success table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Имя монитора</th>
                            <th scope="col">Количество</th>
                            <th scope="col">Получатель</th>
                            <th scope="col">Дата заказа</th>
                            <th scope="col">Адрес поставки</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for order in orders %}
                        <tr>
                            <td>{{order.monitor}}</td>
                            <td>{{order.amount}}</td>
                            <td>{{order.customer}}</td>
                            <td>{{order.order_date}}</td>
                            <td>{{order.region}}</td>
                        </tr>
                        {% endfor %}
                        </tbody>

                    </table><br>
                <a href ="{% url "delete_order" orders.id %}" class = "btn btn-primary" type="button">Удалить заказ</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
{% endblock %}
</html>