<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Информация о пользователе</title>
    {% extends "base.html" %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'show_info.css' %}">
</head>
<body style="background-color: #009579;">
{% block content %}
<div class="container bootstrap snippets bootdey" style="margin-left: 300px;margin-top: 60px;">
    <div class="col-md-8">
        <div class="panel panel-white profile-widget panel-shadow">
            <div class="row">
                <div class="col-sm-12">
                    <div class="image-container bg2">
                        <img src="https://www.gravatar.com/avatar/{{provider.id}}{{link_img}}?d=wavatar" class="avatar" alt="avatar">
                    </div>
                </div>
                <div class="col-sm-12" >
                    <div class="details" >
                        <h3>Профиль пользователя: <i class="fa fa-sheild"></i></h3>
                        <h6>Поставщик: {{provider.first_name}} {{provider.last_name}} </h6>
                        <h6 style ="background: rgba(0,149,121,0.34)">Количество заказов: {{orders}} </h6>
                        <div><br><h4 style="background: rgba(41,203,119,0.7)">Статистика по продажам: </h4></div>
                        <h6>
                            <table class="table table-success table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Регион</th>
                            <th scope="col">Продукт</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>

                            {% for statistics in statisticss %}
                            <tr><th>{{statistics.region}}</th><th>{{statistics}}</th><th><button>Посмотреть заказы</button></th></tr>
                            {% endfor %}
                        </tbody>
                    </table>
                          <br> {{ statistics.region }}
                        </h6>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
{% endblock %}
</html>