<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Информация о пользователе</title>
    {% extends "base.html" %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'show_info.css' %}">
</head>
<body style="background-color: #009579;">
{% block content %}
    <div class="container bootstrap snippets bootdey" style="margin-left: 300px;margin-top: 60px;">
        <div class="col-md-8">
            <div class="panel panel-white profile-widget panel-shadow">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="image-container bg2">
                            <img src="https://www.gravatar.com/avatar/{{user.id}}{{link_img}}?d=wavatar" class="avatar" alt="avatar">
                        </div>
                    </div>
                    <div class="col-sm-12" >
                        <div class="details" >
                            <h3>Профиль пользователя: <i class="fa fa-sheild"></i></h3>
                            <h6>Поставщик: {{provider.first_name}} {{provider.last_name}} </h6>
                            <h6 style ="background: rgba(0,149,121,0.34)">Количество заказов: {{orders}} </h6>
                            <h6>
                                <table class="table table-success table-striped table-bordered" style="table-layout: fixed">
                                    <thead>
                                    <tr>
                                        {% for statistics in statisticss %}
                                            <th style="background: rgb(105,208,105)">Статистика_{{statistics.id}}</th>
                                        {% endfor %}
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>{% for statistics in statisticss %}
                                        <td>{{statistics.store}}</td>
                                    {% endfor %}</tr>
                                    <tr>{% for statistics in statisticss %}
                                        <td>{{statistics}}</td>
                                    {% endfor %}</tr>
                                    </tbody>
                                </table>
                                <a href ="{% url "Customers" provider.id %}" class = "btn btn-primary" type="button">Посмотреть заказы</a>
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </body>
{% endblock %}
</html>