<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Информация о пользователе</title>
    {% extends "base.html" %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'show_info.css' %}">
</head>
<body style="background-color: #009579;">
{% block content %}
<div class="container bootstrap snippets bootdey" style="margin-left: 300px;margin-top: 60px;">
    <div class="col-md-8">
        <div class="panel panel-white profile-widget panel-shadow">
            <div class="row">
                <div class="col-sm-12">
                    <div class="image-container bg2">
                        <img src="https://www.gravatar.com/avatar/{{provider.id}}{{link_img}}?d=wavatar" class="avatar" alt="avatar">
                    </div>
                </div>
                <div class="col-sm-12" >
                    <div class="details" >
                        <br><h4 style="background: rgba(41,203,119,0.7)">Статистика по продажам: </h4>
                        <h6>{% for statistic in statisticss %}
                            <table class="table table-success table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Имя монитора</th>
                            <th scope="col">Количество продаж по региону</th>
                            <th scope="col">Дата заказа</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">{{statistics.monitor}}</th>
                            <td></td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                        {% endfor %}</h6>

                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
{% endblock %}
</html>