<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% extends "base.html" %}
    {% from 'bootstrap5/form.html' import render_form %}
    {{ bootstrap.load_css() }}
    {{ bootstrap.load_js() }}
    <title>Registration</title>
</head>
<body>
{% block content %}
    <div class="row justify-content-center text-center align-items-center">
        <h1>Регистрация:</h1>
        <form class="col-lg-3" method="post">
            {{ render_form(form) }}
        </form>
    </div>
{% endblock %}
</body>
</html>