<!DOCTYPE html>
<html lang="en">
<head>
    {% extends "base.html" %}
    <title></title>
</head>
<body>
{% block content %}
    <div style="margin: 10px;">
        <table class="table">
            <thead>
            <tr>
                <th scope="col"> </th>
                <th scope="col"> № </th>
                <th scope="col"> Состояние </th>
                <th scope="col"> Модель </th>
                <th scope="col"> Маршрут </th>
            </tr>
            </thead>
            <tbody>
            {% for bus in bus %}
                <tr>
                    <th scope="col"><img src="{{ bus.img }}" width="350px" alt=""></th>
                    <th scope="col">{{ bus.number }}</th>
                    <th scope="col">{{ bus.condition }}</th>
                    <th scope="col">{{ bus.model}}</th>
                    <th scope="col">{{ bus.route }}</th>
                {% if current_user.is_driver() %}
                    <th scope="col">{{ bus.working_shift }}</th>
                    <th scope="col" class="text-center">
                       <a href="{{ url_for('main.check_work') }}" role="button" class="btn btn-info mb-3" >Открыть/Закрыть смену</a>
                    </th>
                {% endif %}
                    <th scope="col" class="text-center">
                        <a class="btn btn-info" href="{{ url_for('main.add_mark', username=current_user.username, bus_id = bus.id) }}" role="button">Добавить в избранное</a>
                    </th>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if current_user.is_driver() %}
            <br><br><h3 class="text-center">Остальные работяги на маршруте:</h3><br>
            <div style="margin: 40px;">
                <table class="table m-3">
                    <thead>
                    <tr>
                        <th scope="col"> </th>
                        <th scope="col"> № </th>
                        <th scope="col"> Состояние </th>
                        <th scope="col"> Модель </th>
                        <th scope="col"> Маршрут </th>
                        <th scope="col">  </th>
                        <th scope="col">  </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for other_bus in other_bus %}
                        <tr>
                            <th scope="col"><img src="{{ other_bus.img }}" width="240px" alt=""></th>
                            <th scope="col">{{ other_bus.number }}</th>
                            <th scope="col">{{ other_bus.condition }}</th>
                            <th scope="col">{{ other_bus.model}}</th>
                            <th scope="col">{{ other_bus.route }}</th>
                            <th scope="col">
                                <a class="btn btn-info" href="{{ url_for('main.add_mark', username=current_user.username, bus_id = other_bus.id) }}" role="button">Добавить в избранное</a>
                            </th>
                            <th scope="col"></th>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% endif %}
    </div>
{% endblock %}
</body>
</html>